* {
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('./tetris_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Tiny5", sans-serif, 'Arial', sans-serif;
    overflow: hidden;
}

.game-container {
    display: flex;
    margin: auto;
}

.canvas-container {
    margin: auto 15px;
    display: flex;
}

.canvas {
    align-items: center;
    /*gap: 20px;*/
    background-color: black;
    padding: 15px;
    border: 15px solid black;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

h1 {
    color: red;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.info-container {
    margin: 15px auto;
}

h2 {
    color: red;
}

h3 {
    color: red;
}

.info-canvas {
    align-items: center;
    background-color: black;
}

.score {
    color: red;
    font-size: 2em;
}